# Configuration file

####################
# biome ids
####################

"biome ids" {
    I:"Alps ID"=23
    I:"Arctic ID"=24
    I:"Badlands ID"=25
    I:"Bamboo Forest ID"=26
    I:"Bayou ID"=27
    I:"Birch Forest ID"=28
    I:"Bog ID"=29
    I:"Boreal Forest ID"=30
    I:"Canyon ID"=31
    I:"Chaparral ID"=32
    I:"Cherry Blossom Grove ID"=33
    I:"Coniferous Forest ID"=34
    I:"Crag ID"=35
    I:"Dead Forest ID"=36
    I:"Dead Swamp ID"=37
    I:"Deadlands ID"=37
    I:"Deciduous Forest ID"=39
    I:"Desert (New) ID"=97
    I:"Drylands ID"=37
    I:"Dunes ID"=41
    I:"Extreme Hills (New) ID"=101
    I:"Fen ID"=42
    I:"Field ID"=43
    I:"Forest (New) ID"=98
    I:"Frost Forest ID"=44
    I:"Fungi Forest ID"=45
    I:"Garden ID"=46
    I:"Glacier ID"=47
    I:"Grassland ID"=48
    I:"Grove ID"=49
    I:"Heathland ID"=50
    I:"Highland ID"=51
    I:"Ice Sheet ID"=52
    I:"Icy Hills ID"=53
    I:"Jade Cliffs ID"=54
    I:"Jungle (New) ID"=102
    I:"Lush Desert ID"=55
    I:"Lush Swamp ID"=56
    I:"Mangrove ID"=57
    I:"Maple Woods ID"=58
    I:"Marsh ID"=59
    I:"Meadow ID"=60
    I:"Mesa ID"=61
    I:"Moor ID"=62
    I:"Mountain ID"=63
    I:"Mystic Grove ID"=64
    I:"Oasis ID"=65
    I:"Ominous Woods ID"=66
    I:"Orchard ID"=67
    I:"Origin Valley ID"=68
    I:"Outback ID"=69
    I:"Pasture ID"=70
    I:"Plains (New) ID"=96
    I:"Prairie ID"=71
    I:"Promised Land ID"=72
    I:"Quagmire ID"=73
    I:"Rainforest ID"=74
    I:"Redwood Forest ID"=75
    I:"Sacred Springs ID"=76
    I:"Savanna ID"=77
    I:"Scrubland ID"=78
    I:"Seasonal Forest ID"=79
    I:"Shield ID"=80
    I:"Shore ID"=81
    I:"Shrubland ID"=82
    I:"Snowy Woods ID"=83
    I:"Spruce Woods ID"=84
    I:"Steppe ID"=85
    I:"Swampland (New) ID"=100
    I:"Swampwoods ID"=86
    I:"Taiga (New) ID"=99
    I:"Temperate Rainforest ID"=87
    I:"Thicket ID"=88
    I:"Tropical Rainforest ID"=89
    I:"Tropics ID"=90
    I:"Tundra ID"=91
    I:"Volcano ID"=92
    I:"Wasteland ID"=93
    I:"Wetland ID"=94
    I:"Woodland ID"=95
}


####################
# biome settings
####################

"biome settings" {
    B:"Add Biomes To Default World"=false
    I:"Biome Size"=4
    B:"Enhanced Vanilla Biomes"=true
}


####################
# biomes to generate
####################

"biomes to generate" {
    B:Alps=true
    B:Arctic=true
    B:Badlands=true
    B:BambooForest=true
    B:Bayou=true
    B:BirchForest=true
    B:Bog=true
    B:BorealForest=true
    B:Canyon=true
    B:Chaparral=true
    B:CherryBlossomGrove=true
    B:ConiferousForest=true
    B:Crag=true
    B:DeadForest=true
    B:DeadSwamp=true
    B:Deadlands=true
    B:DeciduousForest=true
    B:Desert=true
    B:Drylands=true
    B:Dunes=true
    B:ExtremeHills=true
    B:Fen=true
    B:Field=true
    B:Forest=true
    B:FrostForest=true
    B:FungiForest=true
    B:Garden=true
    B:Glacier=true
    B:Grassland=true
    B:Grove=true
    B:Heathland=true
    B:Highland=true
    B:IcyHills=true
    B:IcySheet=true
    B:JadeCliffs=true
    B:Jungle=true
    B:LushDesert=true
    B:LushSwamp=true
    B:Mangrove=true
    B:MapleWoods=true
    B:Marsh=true
    B:Meadow=true
    B:Mesa=true
    B:Moor=true
    B:Mountain=true
    B:MushroomIsland=true
    B:MysticGrove=true
    B:Oasis=true
    B:OminousWoods=true
    B:Orchard=true
    B:OriginValley=true
    B:Outback=true
    B:Pasture=true
    B:Plains=true
    B:Prairie=true
    B:Quagmire=true
    B:Rainforest=true
    B:RedwoodForest=true
    B:SacredSprings=true
    B:Savanna=true
    B:Scrubland=true
    B:SeasonalForest=true
    B:Shield=true
    B:Shrubland=true
    B:SnowyWoods=true
    B:SpruceWoods=true
    B:Steppe=true
    B:Swampland=true
    B:Swampwoods=true
    B:Taiga=true
    B:TemperateRainforest=true
    B:Thicket=true
    B:TropicalRainforest=true
    B:Tropics=true
    B:Tundra=true
    B:Volcano=true
    B:Wasteland=true
    B:Wetland=true
    B:Woodland=true
}


####################
# block
####################

block {
    I:"Acacia Double Slab ID"=3781
    I:"Acacia Leaves ID"=3744
    I:"Acacia Log ID"=3745
    I:"Acacia Plank ID"=3782
    I:"Acacia Sapling ID"=3963
    I:"Acacia Single Slab ID"=3780
    I:"Acacia Stairs ID"=3779
    I:"Algae ID"=3949
    I:"Amethyst Ore ID"=3953
    I:"Anenome ID"=3715
    I:"Apple Leaves ID"=3722
    I:"Apple Sapling ID"=3993
    I:"Bamboo ID"=3719
    I:"Bamboo Leaves ID"=3718
    I:"Bamboo Thatching ID"=3951
    I:"Barley ID"=3735
    I:"Block of Amethyst ID"=3952
    I:"Bush ID"=3720
    I:"Cattail ID"=3709
    I:"Cherry Double Slab ID"=3777
    I:"Cherry Log ID"=3743
    I:"Cherry Plank ID"=3778
    I:"Cherry Single Slab ID"=3776
    I:"Cherry Stairs ID"=3775
    I:"Clover ID"=3711
    I:"Daisy ID"=3712
    I:"Dark Double Slab ID"=3771
    I:"Dark Leaves ID"=3740
    I:"Dark Log ID"=3741
    I:"Dark Plank ID"=3772
    I:"Dark Sapling ID"=3989
    I:"Dark Single Slab ID"=3770
    I:"Dark Stairs ID"=3769
    I:"Dead Grass ID"=3717
    I:"Dead Log ID"=3737
    I:"Deathbloom ID"=3987
    I:"Desert Grass ID"=3716
    I:"Desert Sprouts ID"=3980
    I:"Dune Grass ID"=3981
    I:"Dying Leaves ID"=3724
    I:"Dying Sapling ID"=3995
    I:"Fir Double Slab ID"=3785
    I:"Fir Leaves ID"=3746
    I:"Fir Log ID"=3747
    I:"Fir Plank ID"=3786
    I:"Fir Sapling ID"=3701
    I:"Fir Single Slab ID"=3784
    I:"Fir Stairs ID"=3783
    I:"Fruitless Apple Leaves ID"=3736
    I:"Giant Flower Stem ID"=3731
    I:"Giant Red Flower ID"=3732
    I:"Giant Yellow Flower ID"=3730
    I:"Glowflower ID"=3710
    I:"High Grass Bottom ID"=3704
    I:"High Grass Top ID"=3703
    I:"Holy Double Slab ID"=3956
    I:"Holy Leaves ID"=3959
    I:"Holy Log ID"=3960
    I:"Holy Plank ID"=3957
    I:"Holy Sapling ID"=3958
    I:"Holy Single Slab ID"=3955
    I:"Holy Stairs ID"=3954
    I:"Holy Tall Grass ID"=3962
    I:"Hydrangea ID"=3984
    I:"Magic Double Slab ID"=3767
    I:"Magic Leaves ID"=3726
    I:"Magic Log ID"=3738
    I:"Magic Plank ID"=3768
    I:"Magic Sapling ID"=3988
    I:"Magic Single Slab ID"=3766
    I:"Magic Stairs ID"=3764
    I:"Mangrove Double Slab ID"=3966
    I:"Mangrove Leaves ID"=3969
    I:"Mangrove Log ID"=3970
    I:"Mangrove Plank ID"=3967
    I:"Mangrove Sapling ID"=3968
    I:"Mangrove Single Slab ID"=3965
    I:"Mangrove Stairs ID"=3964
    I:"Maple Leaves ID"=3729
    I:"Maple Sapling ID"=3998
    I:"Medium Grass ID"=3982
    I:"Moss ID"=3950
    I:"Mud Brick Double Slab ID"=3973
    I:"Mud Brick Single Slab ID"=3972
    I:"Mud Brick Stairs ID"=3971
    I:"Mud Bricks ID"=3795
    I:"Orange Autumn Leaves ID"=3728
    I:"Orange Autumn Sapling ID"=3997
    I:"Origin Leaves ID"=3752
    I:"Origin Sapling ID"=3992
    I:"Palm Double Slab ID"=3755
    I:"Palm Leaves ID"=3733
    I:"Palm Log ID"=3734
    I:"Palm Plank ID"=3763
    I:"Palm Sapling ID"=3999
    I:"Palm Single Slab ID"=3754
    I:"Palm Stairs ID"=3753
    I:"Pink Cherry Leaves ID"=3727
    I:"Pink Cherry Sapling ID"=3991
    I:"Pink Flower ID"=3742
    I:"Promised Land Portal ID"=3961
    I:"Quicksand ID"=3947
    I:"Red Rock Brick Double Slab ID"=3976
    I:"Red Rock Brick Single Slab ID"=3975
    I:"Red Rock Brick Stairs ID"=3974
    I:"Red Rock Bricks ID"=3985
    I:"Red Rock Cobblestone Double Slab ID"=3979
    I:"Red Rock Cobblestone ID"=3986
    I:"Red Rock Cobblestone Single Slab ID"=3978
    I:"Red Rock Cobblestone Stairs ID"=3977
    I:"Redwood Double Slab ID"=3793
    I:"Redwood Leaves ID"=3750
    I:"Redwood Log ID"=3751
    I:"Redwood Plank ID"=3794
    I:"Redwood Sapling ID"=3700
    I:"Redwood Single Slab ID"=3792
    I:"Redwood Stairs ID"=3791
    I:"Short Grass ID"=3723
    I:"Smoldering Grass ID"=3948
    I:"Sprout ID"=3721
    I:"Swampflower ID"=3714
    I:"Thorns ID"=3706
    I:"Tiny Cactus ID"=3702
    I:"Toadstool ID"=3705
    I:"Tree Moss ID"=3739
    I:"Violet ID"=3983
    I:"White Cherry Leaves ID"=3725
    I:"White Cherry Sapling ID"=3990
    I:"Wildflower ID"=3713
    I:"Willow Double Slab ID"=3789
    I:"Willow ID"=3708
    I:"Willow Leaves ID"=3748
    I:"Willow Log ID"=3749
    I:"Willow Plank ID"=3790
    I:"Willow Sapling ID"=3994
    I:"Willow Single Slab ID"=3788
    I:"Willow Stairs ID"=3787
    I:"Yellow Autumn Leaves ID"=3707
    I:"Yellow Autumn Sapling ID"=3996
}


####################
# dimension settings
####################

"dimension settings" {
    I:"Promised Land Dimension ID"=20
}


####################
# item
####################

item {
    I:"Amethyst Axe ID"=31711
    I:"Amethyst Boots ID"=31706
    I:"Amethyst Chestplate ID"=31708
    I:"Amethyst Helmet ID"=31709
    I:"Amethyst Hoe ID"=31710
    I:"Amethyst ID"=31734
    I:"Amethyst Leggings ID"=31707
    I:"Amethyst Pickaxe ID"=31712
    I:"Amethyst Shovel ID"=31713
    I:"Amethyst Sword ID"=31714
    I:"Ancient Staff Handle ID"=31733
    I:"Ancient Staff ID"=31738
    I:"Ancient Staff Pole ID"=31732
    I:"Ancient Staff Topper ID"=31731
    I:"Bamboo ID"=31740
    I:"Barley ID"=31735
    I:"Bush (Item) ID"=31728
    I:"Cattail ID"=31739
    I:"Enderporter ID"=31737
    I:"Medium Grass (Item) ID"=31729
    I:"Moss (Item) ID"=31726
    I:"Mud Ball ID"=29643
    I:"Mud Brick ID"=29124
    I:"Muddy Axe ID"=31720
    I:"Muddy Boots ID"=31715
    I:"Muddy Chestplate ID"=31717
    I:"Muddy Helmet ID"=31718
    I:"Muddy Hoe ID"=31719
    I:"Muddy Leggings ID"=31716
    I:"Muddy Music Disc ID"=31724
    I:"Muddy Pickaxe ID"=31721
    I:"Muddy Shovel ID"=31722
    I:"Muddy Sword ID"=31723
    I:"Pile of Ashes ID"=31736
    I:"Short Grass (Item) ID"=31730
    I:"Shroom Powder ID"=31743
    I:"Sprout (Item) ID"=31727
    I:"Traversia Music Disc ID"=31725
}


####################
# mob ids
####################

"mob ids" {
    I:"Jungle Spider ID"=101
    I:"Rosester ID"=102
}


####################
# terrain block ids
####################

"terrain block ids" {
    I:"Ash Block ID"=163
    I:"Ash Stone ID"=164
    I:"Crag Rock ID"=171
    I:"Dried Dirt ID"=161
    I:"Hard Dirt ID"=168
    I:"Hard Ice ID"=165
    I:"Hard Sand ID"=167
    I:"Holy Grass ID"=169
    I:"Holy Stone ID"=170
    I:"Mud ID"=160
    I:"Origin Grass ID"=166
    I:"Red Rock ID"=162
}


