# Configuration file

####################
# seeddropfromgrass
####################

seeddropfromgrass {
    B:general=true
}


####################
# seedrarity
####################

seedrarity {
    I:general=10
}


####################
# teacropfoodrestore
####################

teacropfoodrestore {
    I:general=1
}


####################
# teacropid
####################

teacropid {
    I:item=3637
}


####################
# teaid
####################

teaid {
    I:item=15801
}


####################
# tealeafid
####################

tealeafid {
    I:item=15797
}


####################
# teaseedboxid
####################

teaseedboxid {
    I:item=15800
}


####################
# teaseedid
####################

teaseedid {
    I:item=15798
}


####################
# teaseedpacketid
####################

teaseedpacketid {
    I:item=15799
}


####################
# teastorageid
####################

teastorageid {
    I:item=3638
}


