# Configuration file

####################
# appleblockid
####################

appleblockid {
    I:item=3031
}


####################
# applesaplingid
####################

applesaplingid {
    I:item=3032
}


####################
# applestorageid
####################

applestorageid {
    I:item=3033
}


####################
# treerarity
####################

treerarity {
    I:item=5
}


