# Configuration file

####################
# animation
####################

animation {
    # The background color used during the animation.
    S:backgroundColor=000000

    # Should the edge pixels of the animation be duplicated to fill space?
    B:enableClamp=true

    # Should the animation scale down to fill the screen?
    B:enableScalingDown=true

    # Should the animation, if scaled, use a bilinear filter?
    B:enableScalingFilter=true

    # Should the animation scale up to fill the screen?
    B:enableScalingUp=true

    # The fade out time after the final frame of animation.
    D:fadeOutTime=-1

    # The file containing the MPEG-1 video.
    S:mpgFile=animation.mpg
}


